<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{ base :: Layout( ~{::title}, ~{::section} ) }">
<head>
<meta charset="ISO-8859-1" />
<title>Employee Management-Home</title>
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>

	<section class="mx-auto">

		<h1 class="text-center my-2 text-2xl font-semibold text-stone-800">All
			Employees</h1>
		<th:block th:if="${session.msg}">
			<p class="text-black">[[${session.msg}]]</p>
			<th:block th:text="${@empServiceImpl.removeSessionMsg()}"></th:block>
		</th:block>
		<div
			class="relative w-10/12 mx-auto overflow-x-auto shadow-md sm:rounded-lg">

			<table
				class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
				<thead
					class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">#id</th>
						<th scope="col" class="px-6 py-3">Name</th>
						<th scope="col" class="px-6 py-3">E-mail</th>
						<th scope="col" class="px-6 py-3">Address</th>
						<th scope="col" class="px-6 py-3">Genger</th>
						<th scope="col" class="px-6 py-3"><span class="sr-only">Action</span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e,c:${empList}"
						class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
						<td class="px-6 py-4">[[${c.count}]]</td>
						<th scope="row"
							class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
							[[${e.name}]]</th>
						<td class="px-6 py-4">[[${e.email}]]</td>
						<td class="px-6 py-4">[[${e.Address}]]</td>
						<td class="px-6 py-4">[[${e.gender}]]</td>
						<td class="px-6 py-4 text-right"><a
							th:href="@{'edit/' + ${e.id}}"
							class="font-medium text-blue-600 dark:text-blue-500 mx-1 hover:underline">Edit</a>
							<a th:href="@{'deleteEmp/'+${e.id}}"
							class="font-medium text-blue-600 dark:text-red-500 mx-1 hover:underline">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</section>
</body>
</html>